{% extends 'base.html' %}
<title>Skinnerbox App</title>
{% block head %}
{% endblock %}

{% block body %}

<div class="container">
    <header>
        <h1>Welcome to the Skinnerbox App</h1>
        
    </header>
    
    <section class="get-started">
        <h2>Get Started</h2>
        <p>To test the I/O of your skinner box click here: </p>
        <form action="/test_io" method="post">
            <input type="submit" value="Test I/O">
        </form>
        <p>To run a trial click here: </p>
        <form action="/trial" method="post">
            <input type="submit" value="Go To Trial">
        </form>
        <p>To view logs click here: </p>
        <form action="/log-viewer" method="get">
            <input type="submit" value="View Logs">
        </form>

    </section>
    
    
</div>

{% endblock %}
