{% extends 'base.html' %}

{% block head %}
<title>Trial Is Running</title>
<script>
    function fetchTrialStatus() {
        if(document.hidden) return; // Don't fetch if the page is hidden (e.g. in another tab
        fetch('/trial-status')
        .then(response => response.json())
        .then(data => {
            document.getElementById('timeRemaining').textContent = data.timeRemaining;
            document.getElementById('currentIteration').textContent = data.currentIteration;
        })
        .catch(error => console.error('Error fetching trial status:', error));
    }

    // Fetch trial status every second
    setInterval(fetchTrialStatus, 100);
</script>
{% endblock %}

{% block body %}



<div class="container">
    <h1>Trial Is Running</h1>
    <h2>Trial Settings</h2>
    <form action="{{ url_for('update_trial_settings') }}" method="post">
        <div class="form-group">
            <label for="duration">Trial Duration (minutes):</label>
            <label for="duration">"{{ settings.get('duration', '') }}"</label>
        </div>
        <div class="form-group">
            <label for="interval">Goal for trial (goal):</label>
            <label for="goal">"{{ settings.get('goal', '') }}"</label>
        </div>
    </form>
    <div>
        <img src="{{ url_for('video_feed') }}" alt="Live Feed" style="width: 100px; height: 100px; margin: 10px;"/>
        <p>Countdown: <span id="timeRemaining">0</span></p>
        <p>Current Iteration: <span id="currentIteration">0</span></p>
    </div>
    <form action="/stop" method="post">
        <button type="submit" value="end-trial">Manually End Trial</button>
    </form>
</div>

{% endblock %}
