{% extends 'base.html' %}

{% block head %}
<title>Trial Settings</title>
{% endblock %}

{% block body %}

<div class="container ">
    <h1>Trial Settings</h1>
    <form action="{{ url_for('update_trial_settings') }}" method="post">
        <div class="form-group">
            <label for="duration">Trial Duration (minutes)</label>
            <input type="number" class="form-control" id="duration" name="duration" value="{{ settings.get('duration', '') }}" required>
        </div>
        <div class="form-group">
            <label for="goal">Goal For Trial (goal)</label>
            <input type="number" class="form-control" id="goal" name="goal" value="{{ settings.get('goal', '') }}" required>
        </div>
        <div class="form-group">
            <label for="goal">Cooldown Between Interactions (seconds)</label>
            <input type="number" class="form-control" id="cooldown" name="cooldown" value="{{ settings.get('cooldown', '') }}" required>
        </div>
        <!--Booleans-->
        <div class="form-group">
            <label for="rewardType">Reward Type.</label>
            <label><input type="radio" name="rewardType" value="water" {{ 'checked' if settings.get('rewardType', '') == 'water' else '' }} required>Water</label>
            <label><input type="radio" name="rewardType" value="food" {{ 'checked' if settings.get('rewardType', '') == 'food' else '' }} required>Food</label>
        </div>
        <div class="form-group">
            <label for="interactionType">Interaction Type.</label>
            <label><input type="radio" name="interactionType" value="lever" {{ 'checked' if settings.get('interactionType', '') == 'lever' else '' }} required>Lever</label>
            <label><input type="radio" name="interactionType" value="poke" {{ 'checked' if settings.get('interactionType', '') == 'poke' else '' }} required>Poke</label>
        </div>
        <div class="form-group">
            <label for="stimulusType">Stimulus Type.</label>
            <label><input type="radio" name="stimulusType" value="light" {{ 'checked' if settings.get('stimulusType', '') == 'light' else '' }} required>Light</label>        
            <label><input type="radio" name="stimulusType" value="tone" {{ 'checked' if settings.get('stimulusType', '') == 'tone' else '' }} required>Tone</label>
        </div>
        <div class="form-group">
            <label for"light-color">Light Color.</label>
            <input type="color" name="light-color" value="{{ settings.get('light-color', '') }}">
        </div>
        <!-- Additional settings inputs can be added here -->
        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
    <form action="/start" method="post">
        <button type="submit" value="start-trial">Start Trial</button>
    </form>
</div>

{% endblock %}
